{{ $nav := site.Menus.main }}
<header class="term-block term-header">
<pre class="term-ascii">
    __
   / /_  ___  _________ ___
  / __ \/ _ \/ ___/ __ `__ \\
 / / / /  __/ /  / / / / / /
/_/ /_/\___/_/  /_/ /_/ /_/
</pre>
  <p class="term-meta">{{ site.Title }} | THEME TERM | WIDTH 80 | STATIC YES</p>
  <p class="term-prompt">$ help</p>
  <nav class="term-nav" aria-label="Main navigation">
    <ul>
      <li><a href="{{ "/" | relURL }}">home</a></li>
      {{ range $nav }}
      <li><a href="{{ .URL }}">{{ .Name | lower }}</a></li>
      {{ end }}
      {{ with .OutputFormats.Get "rss" }}<li><a href="{{ .RelPermalink }}">rss</a></li>{{ end }}
    </ul>
  </nav>
</header>
