{{ $nav := site.Menus.main }}
<header class="term-block term-header">
<pre class="term-ascii">
 _____             _     _ _ _   _   _ ___
|  __ \           | |   (_) | | | | | / __|
| |  | | __ _ _ __| |__  _| | | | | | \__ \
| |  | |/ _` | '_ \ '_ \| | | | | | | |__/ /
| |__| | (_| | | | | | | | | | | |_| / __/
|_____/ \__,_|_| |_|_| |_|_|_|_|\___/_____|

[ danhill.us ]
</pre>
  <p class="term-meta">{{ site.Title }} | THEME TERM | WIDTH 80 | STATIC YES</p>
  <p class="term-prompt">$ help</p>
  <nav class="term-nav" aria-label="Main navigation">
    <ul>
      <li><a href="{{ "/" | relURL }}">home</a></li>
      {{ range $nav }}
      <li><a href="{{ .URL }}">{{ .Name | lower }}</a></li>
      {{ end }}
      {{ with .OutputFormats.Get "rss" }}<li><a href="{{ .RelPermalink }}">rss</a></li>{{ end }}
    </ul>
  </nav>
</header>
