$space-2xs: 0.0625rem;
$space-xs: 0.125rem;
$space-sm: 0.25rem;
$space-md: 0.5rem;
$space-lg: 0.75rem;
$space-xl: 1rem;
$space-2xl: 1.5rem;
$space-3xl: 2rem;
$radius-sm: 0;
$radius-md: 0;
$radius-lg: 0;
$shell-width: 96rem;
$content-width: 64ch;
